* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #381f04;
    font-family: 'Open Sans', sans-serif;
    color:#ffff;
    
}

.page {
    display: grid;
    
}